<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>i - Car</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/clean-blog.min.css') }}" rel="stylesheet">

</head>

<body>
  <!-- Page Header -->
  <!-- <header class="masthead" style="background-color:DodgerBlue;"> -->
  
  <!-- Main Content -->
  <div class="container" style="margin-top : 20px;">
    <div class="row">
      <div style="margin-left: 10px;"></div>
        <a class="btn btn-primary float-right" href="/">Back To Home</a>
      </div>
      <hr>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="container">
          <iframe src="https://morning-escarpment-67980.herokuapp.com/" width="540" height="375" allow="camera *;microphone *"></iframe>
        </div>
      </div>
      <div class="col-sm ">
        <h5 style="text-align: center;">CONTROLLERS</h5>
        <hr>
        <br>
        <div class="float-centre">
          <div class="row justify-content-around">
            <div class="col-4">
              <button onclick="updateMove('w')" class="btn btn-success" href="/">Move Ahead</button>
            </div>
          </div>
          <hr>
          <div class="row justify-content-evenly">
            <div class="col-4">
              <button onclick="updateMove('a')" class="btn btn-primary" href="/">Turn Left</button>
            </div>
            <div class="col-4">
              <button onclick="updateMove('s')" class="btn btn-danger" href="/">Stop Here !</button>
            </div>
            <div class="col-4">
              <button onclick="updateMove('d')" class="btn btn-primary" href="/">Turn Right</button>
            </div>
          </div>
          <hr>
          <div class="row justify-content-around">
            <div class="col-4">
              <button onclick="updateMove('z')" class="btn btn-warning" href="/">Move Back</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Minor Project Created By</h2>
        <h4>Shubham Kumar | Utkarsh Sharma | Shubhranshu Gupta</h4>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <p class="copyright text-muted">Copyright &copy; i - Car 2021</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static', filename='js/clean-blog.min.js') }}"></script>
  <script>
    
    let updateMove = (move) => {
      console.log(move)
      $.get(`/update?move=${move}`, (data) => {
        })
    }
 
  </script>

</body>

</html>
